<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Applicant Information</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">

    <div class="col-md-12" >

        <p>Your Application Serial Number is: <font style="font-weight: bold; font-size: 30px;color:blue">1324233</font></p>
        <br/>

        <p><span><fa-icon icon="hand-point-right"></fa-icon></span> You must pay the application fees through <b>Bkash</b>. Detail of the application fees payment process is described <a target="_blank" href="http://admission.aust.edu/application-instruction.html#feesPayment" style="color: blue;" target="_blank">here</a>.</p>

        <p><span><fa-icon icon="hand-point-right"></fa-icon></span> Your application will not be considered if you fail to pay the application fees in due time.</p>

        <p><span><fa-icon icon="hand-point-right"></fa-icon></span> The last date of application fees payment is <b>X y Z</b>.</p>
        <hr>
        <p><span><fa-icon icon="hand-point-right"></fa-icon></span> Click <a style="color:blue;" href="/statusCheck">Here</a> to check your Application status and download <strong>Deposit Slip</strong> and <strong>Application Form</strong>.</p>
    </div>
<!--    <div style="padding-top: 10px">
        <p>Name: <b th:text="'' + ${applicant.fullName}"/></p>
        <p>ProgramId: <b th:text="'' + ${applicant.programId}"/></p>
        <p>ProgramName: <b th:text="'' + ${applicant.programName}"/></p>
&lt;!&ndash;        <p>Email: <b th:text="${greeting.email}"/></p>&ndash;&gt;
&lt;!&ndash;        <p>Password: <b th:text="'' + ${greeting.password}"/></p>&ndash;&gt;
&lt;!&ndash;        <p>Date: <b th:text="${greeting.start}"/></p>&ndash;&gt;
&lt;!&ndash;        <p>profession: <b th:text="'' + ${greeting.profession}"/></p>&ndash;&gt;
&lt;!&ndash;        <p>Gender: <b th:text="${greeting.gender}"/></p>&ndash;&gt;
&lt;!&ndash;        <p>Marital Status: <b th:text="'' + ${greeting.married}"/></p>&ndash;&gt;
&lt;!&ndash;        <p>T & C Status: <b th:text="${greeting.termsAccepted}"/></p>&ndash;&gt;
    </div>-->

 <!--   <a href="/applicationForm">Back to Application</a>-->
</div>

</body>
</html>