<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Applicant Information</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div style="padding-top: 10px">
        <p>Name: <b th:text="'' + ${applicant.fullName}"/></p>
        <p>ProgramId: <b th:text="'' + ${applicant.programId}"/></p>
        <p>ProgramName: <b th:text="'' + ${applicant.programName}"/></p>
<!--        <p>Email: <b th:text="${greeting.email}"/></p>-->
<!--        <p>Password: <b th:text="'' + ${greeting.password}"/></p>-->
<!--        <p>Date: <b th:text="${greeting.start}"/></p>-->
<!--        <p>profession: <b th:text="'' + ${greeting.profession}"/></p>-->
<!--        <p>Gender: <b th:text="${greeting.gender}"/></p>-->
<!--        <p>Marital Status: <b th:text="'' + ${greeting.married}"/></p>-->
<!--        <p>T & C Status: <b th:text="${greeting.termsAccepted}"/></p>-->
    </div>

    <a href="/applicationForm">Back to Application</a>
</div>

</body>
</html>