<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Application Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <title>Aust Master's Admission Portal</title>
    <style>
        html {
            position: relative;
            min-height: 100%;
        }

        .form-group.required .input-group-prepend:before {
            content:"*";
            color:red;
        }
        td
        {
            padding:0 15px;
            height: 50px;
            border: 1px dotted black;
        }

    </style>
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#" style="font-size: 25px;font-family: 'Times New Roman'">
        <img src="logo-aust.png" width="40" height="40" alt="">&nbsp; Aust Master's Admission
    </a>
    <form class="form-inline my-2 my-lg-0">
        <a class="navbar-brand" href="/applicationForm"><i class="fa fa-fw fa-home" style="color: chartreuse"></i>Home</a>
        <a class="navbar-brand" href="/statusCheck"><i class="fa fa-fw fa-search" style="color: deepskyblue"></i>Application Status</a>
        <a class="navbar-brand" href="#"><i class="fa fa-info-circle"  style="color: deeppink"></i>&nbsp;How to Apply</a>
        <a class="navbar-brand" href="#"><i class="fa fa-question" style="color: red"></i>&nbsp;FAQ</a>
    </form>
</nav>

<div class="container" style="border: 1px solid black;margin-top: 40px;margin-bottom: 20px">
    <form th:action="@{/result}" th:object="${applicantInfo}" method="post" >
        <div class="container" style="margin-top: 5px;margin-bottom: 10px">
            <div align="center">
                <h1><img src="logo-aust.png" width="40" height="40" alt="">&nbsp;&nbsp;Ahsanullah University of Science and Technology</h1>
                <h4><strong>Master's Program Application Form</strong></h4> </br>
            </div>
            <h6 th:if="${hideText !='yes'}"><strong>All field's with <em style="color: red">*</em> sign must be filled up to perform search.</strong></h6>
        <div class="container border" style="margin-top: 10px;margin-bottom: 20px">
            <div class="card border-secondary mb-3" style="margin-top: 10px">
                <div class="card-body">
                    <div th:if="${valid ==1}">
                        <h4 align="center" class="bg-info">Applicant Information</h4>
                        <div style="margin-top: 15px">
                            <div align="center">
                                <table style="width:60%">
                                    <tr>
                                        <td >Applicant Serial No :</td>
                                        <td ><strong>1001</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="width: 10px">Applicant Name :</td>
                                        <td style="width:20px"><strong>Md Golam Muktadir</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="width: 10px">Semester Name :</td>
                                        <td style="width:20px"><strong>Spring 20</strong></td>
                                    </tr>
                                    <tr>
                                        <td >Applied Program :</td>
                                        <td ><strong>M.Sc. in Math</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="width: 10px">Application Status :</td>
                                        <td style="width:20px;color: deeppink"><h6><strong>APPLIED</strong></h6></td>
                                    </tr>
                                    <tr>
                                        <td >Deposit Slip :</td>
                                        <td><a href="/#"><img src="pdf.png" width="30" height="30" alt="download pdf"></a></td>
                                    </tr>
                                </table>
                            </div>
                            <!--<div class="row">
                                <div class="col-sm-12 col-md-3">
                                    <span class="badge badge-light">Applicant Serial No:</span>
                                </div>
                                <div class="col-sm-12 col-md-9">
                                    <p><strong>100102</strong></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-3">
                                    <span class="badge badge-light">Applicant Name:</span>
                                </div>
                                <div class="col-sm-12 col-md-9">
                                    <p><strong>Md Golam Muktadir</strong></p>
                                </div>
                            </div>-->
                        </div>
                    </div>

                    <div align="center" th:if="${valid !=1}">
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group required">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">Application ID </div>
                                        </div>
                                        <input type="text"  class="form-control" th:field="*{applicationSerialNo}" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group required">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">Date of Birth &nbsp;</div>
                                        </div>
                                        <input type="date" class="form-control" th:value="${applicantInfo.dateOfBirth}"
                                               th:field="${applicantInfo.dateOfBirth}" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 20px">
                            <div class="col-md-12" align="center">
                                <input type="submit" name="search" class="btn btn-outline-success" value="Search"/>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        </div>
    </form>
</div>


<!--<footer class="footer font-small blue-grey lighten-5" style="margin-top: 20px">
    <div style="background-color: aliceblue; font-size: small;">
        <div class="container" align="center" style="padding: 10px">
            <strong>AUST ICT CENTER</strong>
            <br/>
            Admission Inquiry - <b>01773500054</b> & <b>01817646270</b> | Technical Support - 01718547200 & 01891802551
            (From <font style="color: #CA2BC0">10:00 AM</font> to <font style="color: #CA2BC0">05:00 PM</font>).
            <br/>
            E-mail: <a href="mailto:pg.admission@aust.edu" style="color: deepskyblue;">pg.admission@aust.edu</a>
        </div>
    </div>
</footer>-->
</body>
</html>