<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Applicant Information</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#" style="font-size: 25px;font-family: 'Times New Roman'">
        <img src="logo-aust.png" width="40" height="40" alt="">&nbsp; Aust Master's Admission
    </a>
    <form class="form-inline my-2 my-lg-0">
        <a class="navbar-brand" href="/applicationForm"><i class="fa fa-fw fa-home"
                                                           style="color: chartreuse"></i>Home</a>
        <a class="navbar-brand" href="/statusCheck"><i class="fa fa-fw fa-search" style="color: deepskyblue"></i>Application
            Status</a>
        <a class="navbar-brand" href="#"><i class="fa fa-info-circle" style="color: deeppink"></i>&nbsp;How to Apply</a>
        <a class="navbar-brand" href="#"><i class="fa fa-question" style="color: red"></i>&nbsp;FAQ</a>
    </form>
</nav>
<div class="container" style="border: 1px solid black;margin-top: 40px;margin-bottom: 20px;color: green;background: aliceblue"  >
        <p align="center">Your Application Serial Number is: <font style="font-weight: bold; font-size: 30px;color:blue" th:text="${serialNo}"></font></p>
        <br/>
        <div style="padding-left: 40px">
            <p><span><fa-icon icon="hand-point-right"></fa-icon></span><b style="color: #211b19">1.</b> You must pay the application fees through <b>Bkash</b>. Detail of the application fees payment process is described <a target="_blank" href="http://admission.aust.edu/application-instruction.html#feesPayment" style="color: blue;">here</a>.</p>

            <p><span><fa-icon icon="hand-point-right"></fa-icon></span><b style="color: #211b19">2.</b> Your application will not be considered if you fail to pay the application fees in due time.</p>

        <p><span><fa-icon icon="hand-point-right"></fa-icon></span><b style="color: #211b19">3. </b> The last date of application fees payment is <b>X y Z</b>.</p>
        </div>
        <hr>
        <p align="center"><span><fa-icon icon="hand-point-right"></fa-icon></span> Click <a style="color:blue;" href="/statusCheck">Here</a> to check your Application status and download <strong>Deposit Slip</strong> and <strong>Application Form</strong>.</p>
</div>

</body>
</html>